
<div class="ui form">
  
  <h3>Dropdown with Topic Display</h3>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js"></script>


    <select name="skills" multiple="" class="label ui selection fluid dropdown">
      <option value="">All</option>
      <option value="1">Change Methodology</option>
      <option value="2">Cognitive Computing & AI</option>
      <option value="3">Connectivity & Collaboration</option>
      <option value="4">Culture in Action</option>
      <option value="5">Future of Work</option>
      <option value="6">HR Transformation</option>
      <option value="7">Human-centered Design</option>
      <option value="8">Machine Learning & AI</option>
      <option value="9">Operational Effectiveness</option>
      <option value="10">Operational Excellence</option>
      <option value="11">Organizational Change</option>

    </select>
  
  